doctype html
html
  head
    meta(charset="UTF-8")/
    title!= title
    link(rel="stylesheet", href="/css/main.css")
  body
    h1!= h1
    nav
      if boards
        each val in boards
          a(href= val.url)= '/' + val.url + '/' 
