doctype html
html
  head
    meta(charset="UTF-8")/
    title!= title
    link(rel="stylesheet", href="/css/main.css")
  body
    section.thread
      section.op 
        h1.title!= title
        p.name test thread
        p.postId nr.10
        section.mesage
          p whatsup serversiders welcome to the general node.js thread for all tips tricks and hints
          p check the wiki for tutorials and other shit
        
      section.post
        p.name sage
        p.postId nr.11
        section.message 
          p node a shit

      section.post 
        p.name anon
        p.postId nr.12
        section.message 
          p &gt;implying javascript is a serious language
          p &gt;implying OP isn't a fag

      section.post
        p.name douglas crockford
        p.postId nr.13
        section.message
          p 13 GET